@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home {
  width: 100vw;
  height: fit-content;
}
.hero-section {
  margin: 4rem 6rem;
  padding: 3rem 2rem;
  border-radius: 59px;
  background: #f4f6f5;
  height: fit-content;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.left-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.left-container > *:nth-child(1),
.left-container > *:nth-child(2) {
  margin-bottom: 1.5rem;
}
.left-container span {
  color: #191818;
  font-family: Poppins;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.6px;
}
.left-container img {
  object-fit: cover;
  object-position: center;
}
.poster {
  width: 174px;
  height: 173px;
  flex-shrink: 0;
}
.img-container {
  width: 50%;
}
.img-container img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.brands-list {
  background-color: #ebd96b;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.brands-list img {
  max-height: 60px;
}
.few-products {
  height: fit-content;
  width: 100%;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
}
.few-products p {
  margin: 1rem 6rem;
  color: #191919;
  font-family: Poppins;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: -1.28px;
}
.fresh-arrivals {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  height: fit-content;
}
.product-container {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  height: 440px;
}
.product-container img {
  width: 80%;
  height: 90%;
  object-fit: cover;
  border-radius: 20px;
}
.product-name {
  color: #191919;
  font-family: Poppins;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: -1.28px;
}
.explore {
  color: #7f7f7f;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 50px; /* 208.333% */
  letter-spacing: -0.96px;
  cursor: pointer;
}
.join-community {
  background: #e5c643;
  width: 100vw;
  height: 55vh;
}
.join-community form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.words {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.words .titl {
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 900;
  line-height: 70px; /* 127.273% */
  letter-spacing: 1.4px;
}
.words .sub-title {
  flex-shrink: 0;
  color: #fffcf8;
  font-family: Poppins;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 35px; /* 109.375% */
  letter-spacing: 0.96px;
}
.add-mail {
  padding: 0.5rem 1rem;
  width: 350px;
  flex-shrink: 0;
  border-radius: 7px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.add-mail span {
  color: #767676;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 35px; /* 145.833% */
  letter-spacing: 0.72px;
}
/* media queries */
@media screen and (max-width: 1135px) {
  .fresh-arrivals {
    margin: 0 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .img-container {
    width: 60%;
  }
}
@media screen and (max-width: 880px) {
  .fresh-arrivals {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .img-container {
    width: 60%;
  }
}
@media screen and (max-width: 440px) {
  .fresh-arrivals {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .hero-section {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 0 3rem 0 0;
    background-color: #fff;
  }
  .img-container {
    width: 100%;
    margin-top: 1rem;
  }
  .brands-list {
    background-color: #ebd96b;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .brands-list img {
    max-height: 40px;
  }
  .product-container {
    height: fit-content;
  }
  .product-container > * {
    margin: 0 auto;
  }
  .product-container img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
  }
  .join-community {
    padding: 2rem 1rem;
    height: fit-content;
  }
  .join-community form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .words {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .words > * {
    margin-bottom: 1rem;
  }
  .words .titl {
    flex-shrink: 0;
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 1px;
  }
  .words .sub-title {
    width: 300px;
  }
  .add-mail {
  }
  .add-mail span {
  }
}
