a {
  text-decoration: none;
}
.signup {
  display: flex;
}
.left-section {
  background: linear-gradient(180deg, #f6d402 0%, #dac128 33.33%, #9c8f3f 100%);
  width: 120vw;
  height: 100vh;
}
.signup-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signup-section form {
  display: flex;
  flex-direction: column;
}
form > *:nth-child(1),
form > *:nth-child(2),
form > *:nth-child(3),
form > *:nth-child(4) {
  margin-bottom: 0.7rem;
}
form > input,
.input-holder > input {
  display: flex;
  width: 20rem;
  padding: 0.7rem 1.625rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.625rem;
  border-radius: 1.88rem;
  border: 1px solid #b9b8b8;
  background: #fff;
  color: #333;
  font-family: Poppins;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.input-holder {
  position: relative;
}
.cp-eye,
.p-eye {
  position: absolute;
  right: 20px;
  bottom: 16px;
}
.link {
  color: #333;
  font-family: Poppins;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0.5rem 1rem;
  transition: transform 0.3s ease;
}
.link:hover {
  text-decoration: underline;
}
.words {
  display: flex;
  flex-direction: column;
}
.head {
  color: #333;
  font-family: Poppins;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.tail {
  color: #333;
  font-family: Poppins;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 1rem;
}
