a {
  text-decoration: none;
}
.signup {
  display: flex;
}
.left-section {
  background: linear-gradient(180deg, #f6d402 0%, #dac128 33.33%, #9c8f3f 100%);
  width: 120vw;
  height: 100vh;
}
.signup-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signup-section form {
  display: flex;
  flex-direction: column;
}
form > *:nth-child(1),
form > *:nth-child(2),
form > *:nth-child(3),
form > *:nth-child(4) {
  margin-bottom: 0.7rem;
}
form > input,
.input-holder > input {
  display: flex;
  width: 20rem;
  padding: 0.7rem 1.625rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.625rem;
  border-radius: 1.88rem;
  background: #fff;
  color: #333;
  font-family: Poppins;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.input-holder {
  position: relative;
  margin-bottom: 0 !important;
}
.cp-eye,
.p-eye {
  position: absolute;
  right: 20px;
  bottom: 16px;
}
.link {
  color: #333;
  font-family: Poppins;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0.5rem 1rem;
}
.link:hover {
}
.offscreen {
  display: none;
}
label {
  font-size: 0.875rem;
  font-family: Poppins;
}
.btn {
  cursor: pointer;
  border: none;
  border-radius: 1.88rem;
  background-color: black;
  color: white;
  padding: 0.7rem 1.625rem;
  margin-bottom: 10px;
  margin-top: 20px;
}
.no-btn {
  border: none;
  border-radius: 1.88rem;
  background-color: black;
  opacity: 0.2;
  color: white;
  padding: 0.7rem 1.625rem;
  margin-bottom: 10px;
  margin-top: 20px;
}
.btn:hover {
  background-color: #ebd96b;
  color: white;
}
.error {
  border-color: red !important;
}
.show-error {
  font-family: Poppins;
  font-size: 0.875rem;
  color: red;
  text-align: center;
}
.offset-error {
  display: none;
}
form span {
  margin-bottom: 0 !important;
}
.div-btn {
  margin-top: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.div-btn button {
  background-color: #ebd96b;
  color: white;
}
.div-btn button:hover {
  transform: scale(1.01);
  border: 1px solid black;
}
